.footer__subelement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &--container{
        flex-direction: column;
    }

    &--content{
        flex-direction: row;
        gap: 3px;
    }
}